@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');


/* Основное */

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans Display", serif;
  background-color: #ededed;
}

h1, h2, h3, h4, h5, h6, p, a, span {
  margin: 0;
  transition: all 0.5s ease;
}

div, img, video, iframe, button, nav, menu, header, section, blockquote {
  transition: all 0.5s ease;
}

br {
  user-select: none;
  pointer-events: none;
}

hr {
  margin: 26px auto;
  width: 75%;
  border: 1px solid rgba(0,0,0,0.04);
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
}

.button {
  padding: 12px 22px;
  color: #fff;
  font-size: 17px;
  border-radius: 50px;
  background: rgb(255,90,15);
  /* background: linear-gradient(106deg, rgb(229 38 38) 0%, rgb(255 55 120) 100%); */
  background: linear-gradient(160deg, #ffab00 12%, #f26602 100%);
  cursor: pointer;
}

.button:hover {
  animation: btnIn 0.85s ease forwards;
}

@keyframes btnIn {
  0% {
    transform: ;
  }
  40% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.98);
  }
  80% {
    transform: scale(1.05);
  }
  0% {
    transform: ;
  }
}

.button.large {
  padding: 22px 42px;
  font-size: 26px;
/*   border: 4px solid #fda001; */
}

.button.iconBtn {
  display: flex;
  align-items: center;
}

.button.iconBtn span {
  margin: 0 6px;
}

.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.container {
  margin: auto;
  width: 75%;
}

/* .mockup img {
  user-select: none;
  pointer-events: none;
} */


/* Шапка */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 16px 34px;
  width: 100%;
  height: 15vh;
  /* border-bottom: 1px solid rgba(0,0,0,0.04); */
  background-color: transparent;
  box-sizing: border-box;
  z-index: 5;
}

nav span {
  font-size: 20px;
}

nav .logo {
  height: -webkit-fill-available;
}

nav .button {
  font-size: 26px;
  border: 2px solid rgba(255,255,255,0.2);
  background: transparent;
}

nav.scroll {
  padding: 8px 26px;
  height: 8vh;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,0.12);
}

nav.scroll .logo {
  filter: invert(1);
}

nav.scroll .button {
  border: 0;
  font-size: 17px;
  background: linear-gradient(160deg, #ffab00 12%, #f26602 100%);
}

nav .content {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 33%;
  min-width: 33%;
  height: -webkit-fill-available;
}

nav .content.center {
  justify-content: center;
}

nav .content.left {
  opacity: 0;
  justify-content: flex-start;
}

nav .content.right {
  justify-content: flex-end;
}

nav.scroll .content.left, nav.scroll .content.right {
  opacity: 1;
}


/* Шапка */

header {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  width: 100%;
  height: 100vh;
  color: #fff;
  /*background: rgb(0,119,181);
  background: linear-gradient(149deg, rgba(0,119,181,1) 12%, rgba(65,142,179,1) 100%);*/
  /* background: linear-gradient(160deg, #ffab00 12%, #f26602 100%); */
  background: linear-gradient(160deg, #41cb7c 12%, #236d51 100%);
}

header .button {
  margin: 16px 0;
}

header svg.border {
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 12vw;
  z-index: 2;
}

header svg.border>path {
  fill: #ededed;
}

header #particlesJS {
  position: absolute;
  width: 100%;
  height: 100%;
}

header .mBlock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

header .messages {
  position: relative;
  padding: 32px;
  width: 80%;
  border-radius: 50px;
  background-color: rgba(0,0,0,0.04);
  z-index: 2;
}

header .messages .msg {
  display: flex;
  margin: 26px 0;
  width: 100%;
}

header .messages .msg.right {
  justify-content: flex-end;
}

header .messages .msg.left {
  justify-content: flex-start;
}

header .messages span {
  padding: 16px 32px;
  color: #000;
  font-size: 2.2vw;
  border-radius: 50px;
  background-color: #fff;
}

header .messages .msg.right span {
  color: #fff;
  border-bottom-right-radius: 6px;
  background: rgb(255,90,15);
  /* background: linear-gradient(106deg, rgb(229 38 38) 0%, rgb(255 55 120) 100%); */
  background: linear-gradient(160deg, #ffab00 12%, #f26602 100%);
}

header .messages .msg.left span {
  border-bottom-left-radius: 6px;
}

header .messages span>i {
  color: #dbdbdb;
  margin: 0 8px;
  cursor: default;
  user-select: none;
}

header .phBlock {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
}

header .phone {
  position: relative;
  width: 420px;
  overflow: hidden;
  border: 4px solid #eee;
  border-radius: 50px;
  box-shadow: 0 0 36px rgba(0,0,0,0.15);
  z-index: 3;
}

header .phone::after {
  content: '';
  position: absolute;
  top: 2%;
  left: 50%;
  padding: 10px;
  width: 15%;
  border-radius: 50px;
  background-color: #eee;
  transform: translateX(-50%);
  z-index: 4;
}

header .phone video {
  display: block;
  position: relative;
  width: 100%;
}

header .phone .play {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/preview.png');
  background-size: contain;
  cursor: pointer;
  z-index: 2;
}

header .svg {
  position: absolute;
  left: 15%;
  bottom: 0;
  width: 40%;
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

header .scrolling {
  position: absolute;
  left: 50%;
  bottom: 7%;
  font-size: 60px;
  transform: translateX(-50%);
  cursor: pointer;
  user-select: none;
  z-index: 4;
}

/*
header .mockup {
  position: relative;
  width: 40%;
  height: 100vh;
}

header .mockup video {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 22vw;
  border: 6px solid #eee;
  border-radius: 50px;
  box-shadow: 0 0 36px rgba(0,0,0,0.15);
  transform: translate(-50%, -5px);
  z-index: 2;
}
*/


/* Секции */

section {
  display: flex;
  align-items: center;
  margin: 24px 0;
  padding: 24px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 36px rgba(0,0,0,0.04);
}

section:hover {
  box-shadow: 0 0 40px rgba(0,0,0,0.12);
}

section .content {
  margin: 0 0 0 16px;
}

section img {
  filter: grayscale(1) contrast(0.1) brightness(1.75);
  user-select: none;
  pointer-events: none;
}

section:hover img {
  filter: grayscale(0) contrast(1) brightness(1);
}

section h3 {
  margin: 0 0 8px 0;
  font-size: 22px;
}

section:hover h3 {
  color: #fda001;
}

section p {
  font-size: 20px;
}

/*section.introducing:hover {
  background-color: #d7ebdc;
}*/


/* Модальное окно */

.modal {
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 70vh;
  overflow: hidden;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 0 36px rgba(0,0,0,0.2);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.modal .modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 24px;
  border: 1px solid rgba(0,0,0,0.1);
  /*background: linear-gradient(160deg, #ffbf00 12%, #f28702 100%);*/
}

.modal .modalHeader button {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 50%;
  background-color: #fff;
}

.modal .modalHeader svg {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 5vh;
  fill: #fff;
}

.modal .modalBody {
  padding: 24px;
}

.modal .modalBody iframe {
  position: absolute;
  left: 50%;
  width: 40%;
  height: calc(100% - 20%);
  overflow: hidden;
  transform: translateX(-50%);
}

.modalOverlay {
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 90;
}


/* Футер */

footer {
  padding: 26px;
  font-size: 17px;
  background-color: #e7e7e7;
}


/* Оптимизация */

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  section {
    flex-direction: column;
    padding: 16px;
  }
  section .content {
    margin: 16px 0 0 0;
    text-align: center;
  }
}
