body {
  background: #17181f;
}

p {
  color: #ececec;
}

a {
  color: #eee;
}


#page_header_cont .back {
  height: 50px;
  background: #131e2b;
  border-bottom: 0;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

#page_header {
  margin-top: 4px;
}

#page_layout {
  margin-top: 10px;
}


/*
SIDE_BAR
*/

#side_bar .left_icon {
  filter: hue-rotate(120deg) contrast(2) brightness(0.7);
  transition: all 0.6s ease;
}

#side_bar .left_label {
  color: #8b556b;
}
#side_bar .more_div {
  border-top: 1px solid #8b556b;
}

#side_bar ol li .left_row {
  padding: 2px;
  transition: all 0.4s ease;
}

#side_bar ol li .left_row:hover {
  background: #101219;
  border-radius: 20px;
}

.left_count_wrap {
  color: #17181f;
  background: #8b556b;
  /*padding: 7px 9px;
  font-weight: 600;
  font-size: 11px;
  height: 10px;
  border-radius: 50%;*/
  transition: all 0.4s ease;
}

#side_bar ol li .left_row:hover .left_count_wrap {
  /*margin: 2.5px 9px 5px 0;
  padding: 6px 6px;*/
  background-color: transparent;
  color: #b26984;
}


/*
USER PAGE
*/

.page_name, h1.page_name {
  color: #ececec;
}

.module_header .header_top {
  color: #ececec;
}

div.submit_post_field, div.submit_post_field[contenteditable=true],
div.submit_post_field[contenteditable=true]~.placeholder .ph_input,
div.submit_post_field~.placeholder .ph_input {
  background-color: #181a23;
}

.page_block {
  border-radius: 8px;
  background-color: #181a23;
  box-shadow: 0 4px 22px rgba(0,0,0,0.4);
}


/*
USER POSTS
*/

.wall_module .wall_posts.all>.all~.all, .wall_module .wall_posts.all>.all~.all_ads_promoted_post,
.wall_module .wall_posts.all>.post:not(.unshown)~.post.unshown+.post:not(.unshown),
.wall_module .wall_posts.own>.own~.own, .wall_module .wall_posts.own>.own~.own_ads_promoted_post,
.wall_module .wall_posts.own>.post:not(.unshown)~.post.unshown+.post:not(.unshown),
.wall_module .wall_posts.postponed>.postponed~.postponed, .wall_module .wall_posts.suggested>.suggest~.suggest,
.wall_module .wall_posts_search>.post~.post {
  border-radius: 12px;
}

.like_wrap {
  padding: 0;
}

.like_cont {
  padding: 12px 20px;
  border-top: 1px solid #0e0f15;
}



/*
  MESSAGES
*/

.ui_rmenu_item:hover, .ui_rmenu_subitem:hover, .ui_rmenu_item_sel, .ui_rmenu_item_sel:hover {
  background-color: #131e2b;
}

.ui_rmenu_item, .ui_rmenu_subitem {
  color: #ececec;
  transition: all 0.6s ease;
}

.ui_rmenu_item_sel, .ui_rmenu_item_sel:hover {
  color: #8b556b;
}

.ui_rmenu_sliding .ui_rmenu_slider {
  background-color: #8b556b;
}


.im-page_classic.im-page .im-page--header {
  margin-left: 0;
  margin-top: -40px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: none;
  border-radius: 10px;
  background-color: #181a23;
}

.im-page_classic.im-page .im-page--dialogs-search {
  box-shadow: 0 0 0;
}

.im-page_classic.im-page .im-page--dialogs {
  border-radius: 10px;
  background-color: #181a23;
}

.im-page_classic.im-page .im-page--dcontent {
  background-color: #181a23;
}

.nim-dialog.nim-dialog_classic {
  border-top: 2px solid #1f2731;
  transition: all 0.4s ease;
}

.nim-dialog .nim-dialog--name .nim-dialog--name-w {
  color: #ececec;
}

.nim-dialog .nim-dialog--preview, .nim-dialog .nim-dialog--text-preview {
  color: #ccc;
  transition: all 0.6s ease;
}

.nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered .nim-dialog--preview,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered
.nim-dialog--text-preview, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic .nim-dialog--preview,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic .nim-dialog--text-preview,
.nim-dialog:not(.nim-dialog_deleted):hover .nim-dialog--preview, .nim-dialog:not(.nim-dialog_deleted):hover
.nim-dialog--text-preview, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered .nim-dialog--preview>b,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic .nim-dialog--preview>b, .nim-dialog:not(.nim-dialog_deleted):hover
.nim-dialog--preview>b {
  color: #8b556b;
}

.nim-dialog .nim-dialog--preview-attach {
  color: #9ab0c7;
}

.nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic,
.nim-dialog:not(.nim-dialog_deleted):hover {
  background-color: #0d0f1b;
}

.nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_classic.nim-dialog_unread, .nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_hovered, .nim-dialog:not(.nim-dialog_deleted).nim-dialog:hover,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.im-search-results-head,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.nim-dialog, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.im-search-results-head,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.nim-dialog,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.im-search-results-head,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.nim-dialog,
.nim-dialog:not(.nim-dialog_deleted):hover+.im-search-results-head, .nim-dialog:not(.nim-dialog_deleted):hover+.nim-dialog {
  border-top: 2px solid #eee;
}

.nim-dialog .nim-dialog--content {
  border-top: 0;
}

.nim-dialog.nim-dialog_failed.nim-dialog_muted .nim-dialog--unread,
.nim-dialog.nim-dialog_failed.nim-dialog_muted .nim-dialog--unread-badge_bomb,
.nim-dialog.nim-dialog_unread.nim-dialog_muted .nim-dialog--unread,
.nim-dialog.nim-dialog_unread.nim-dialog_muted .nim-dialog--unread-badge_bomb,
.nim-dialog.nim-dialog_unread.nim-dialog_prep-injected.nim-dialog_muted .nim-dialog--unread,
.nim-dialog.nim-dialog_unread.nim-dialog_prep-injected.nim-dialog_muted .nim-dialog--unread-badge_bomb {
  background-color: #393c4c;
}

.nim-dialog.nim-dialog_failed .nim-dialog--unread,
.nim-dialog.nim-dialog_unread .nim-dialog--unread, .nim-dialog.nim-dialog_unread.nim-dialog_prep-injected .nim-dialog--unread {
  background-color: #8b556b;
}

.online.mobile:after {
  border-color: #181a23;
  background-color: #181a23;
}

.nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered .nim-dialog--photo .online.mobile:after,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic .nim-dialog--photo .online.mobile:after,
.nim-dialog:not(.nim-dialog_deleted):hover .nim-dialog--photo .online.mobile:after {
  background-color: #0d0f1b;
}

.nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_classic.nim-dialog_unread:before,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_hovered:before,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog:hover:before,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.im-search-results-head:before,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.nim-dialog:before,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.im-search-results-head:before,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.nim-dialog:before,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.im-search-results-head:before,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.nim-dialog:before,
.nim-dialog:not(.nim-dialog_deleted):hover+.im-search-results-head:before,
.nim-dialog:not(.nim-dialog_deleted):hover+.nim-dialog:before, .nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_classic.nim-dialog_unread
.nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_classic.nim-dialog_unread .nim-dialog--photo,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_hovered .nim-dialog--content,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_hovered .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted).nim-dialog:hover
.nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog:hover .nim-dialog--photo,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.im-search-results-head .nim-dialog--content,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.im-search-results-head .nim-dialog--photo,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.nim-dialog .nim-dialog--content,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.nim-dialog .nim-dialog--photo,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.im-search-results-head .nim-dialog--content,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.im-search-results-head .nim-dialog--photo,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.nim-dialog .nim-dialog--content,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.nim-dialog .nim-dialog--photo,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.im-search-results-head
.nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.im-search-results-head
.nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.nim-dialog
.nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.nim-dialog
.nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted):hover+.im-search-results-head .nim-dialog--content,
.nim-dialog:not(.nim-dialog_deleted):hover+.im-search-results-head .nim-dialog--photo,
.nim-dialog:not(.nim-dialog_deleted):hover+.nim-dialog .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted):hover+.nim-dialog .nim-dialog--photo {
  margin-top: 0;
}


.im-page .im-page--dialogs-footer.ui_grey_block {
  background-color: #181a23;
}

.im-page_classic.im-page .im-page--dialogs-footer {
  box-shadow: 0 0 0;
}

.im-page .im-page--dialogs-footer {
  border-top: solid 4px #1f2731;
}
